<div class="box box-<%= selector.color %> box-solid" id="<%= selector.name + "-box" %>" >
    <div class="box-header with-border">
        <h3 class="box-title"><%- selector.title %></h3>
    </div>
    <div class="box-body">
        <div class="row model-selector collapse in" id="<%= selector.name %>" source="<%= selector.source %>">
            <div class="col-md-4">
                <h4><i class="fa fa-cubes"></i>&nbsp;&nbsp;算法与模型选择</h4>
                <div id="<%= `${selector.name}-model-selector` %>">
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="btn-group pull-right">
            <%  for (var btn_name in selector.buttons) { %>
            <a type="button" class="<%= selector.buttons[btn_name].type %>"
               id="<%= `${selector.name}-${btn_name}` %>"
               href="<%= selector.buttons[btn_name].href %>">
                <%- selector.buttons[btn_name].title %>
            </a>
            <%  } %>
        </div>
    </div>
</div>